{% extends "layout.html" %} <!-- Use layout.html template -->
<!-- Code below will be used to overwrite 'content' block in home.html or in about.html file -->
<!-- 403 error is for something that is forbiden -->
{% block content %}
    <!-- Put form in our content section  -->
    <div class="content-section"> <!-- This div will use class 'content-section' that is in main.css file (in order to look nicer)   -->
        <h1>You don't have permission to do that (403)</h1> <!-- Print out all of the errors that we have -->
        <p>Please check your account and try again</p> <!-- Print out all of the errors that we have -->
    </div>
{% endblock content %}