{% extends "layout.html" %} <!-- Use layout.html template -->
<!-- Code below will be used to overwrite 'content' block in home.html or in about.html file -->
<!-- 500 error is general server error -->
{% block content %}
    <!-- Put form in our content section  -->
    <div class="content-section"> <!-- This div will use class 'content-section' that is in main.css file (in order to look nicer)   -->
        <h1>Something went wrong (500)</h1> <!-- Print out all of the errors that we have -->
        <p>We are experiencing some trouble on our end. Please try again in the near future </p> <!-- Print out all of the errors that we have -->
    </div>
{% endblock content %}