{% extends "layout.html" %} <!-- Use layout.html template -->
<!-- Code below will be used to overwrite 'content' block in home.html or in about.html file -->
{% block content %}
    {% for post in posts.items %}  <!-- This is begining of code block for displaying posts in for loop. .items is for pagination -->
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename = 'profile_pics/' + post.author.image_file) }}">   <!-- Display user image - this is on the top-->
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href=" {{ url_for('users.user_posts', username= post.author.username) }} ">{{ post.author.username }}</a> <!-- Display username-->
              <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small> <!-- Display date-->
            </div>
            <h2><a class="article-title" href="{{ url_for('posts.post', post_id = post.id) }}">{{ post.title }}</a></h2> <!-- Link for post title-->
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}  <!-- This is end of code block-->
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}  
        {% if page_num %} <!-- this if is because sometimes page_num can have value None. Usually is a num value -->
            {% if posts.page == page_num %} <!-- This if is for displying currect page with diffrent colour/style-->
                <!-- We want to put page link number here (peg_num is diffrent than None)-->
                <a class = "btn btn-info mb-4" href="{{ url_for('main.home', page = page_num)}}">{{ page_num}}</a><!-- anchor tag -->
            {% else %}
                <a class = "btn btn-outline-info mb-4" href="{{ url_for('main.home', page = page_num)}}">{{ page_num}}</a><!-- anchor tag -->
            {% endif %}
        {% else %}
           <!-- page_num is None here. We will put elipsis here-->
        {% endif %}
    {% endfor %}  <!-- This is end of code block-->
{% endblock content %}