{% extends "layout.html" %} <!-- Use layout.html template -->
<!-- Code below will be used to overwrite 'content' block in home.html or in about.html file -->
<!--  -->
{% block content %}
    <!-- Put form in our content section  -->
    <div class="content-section"> <!-- This div will use class 'content-section' that is in main.css file (in order to look nicer)   -->
        <form method="POST" action=""> <!-- method of this form will be POST and action of this form will be empty string -->
            {{ form.hidden_tag() }} <!-- Form field here. If you accessing variables in our template then you need to use double curly braces. 'form' instance is passed to our template. form.hidden_tag() is adding CSR token  for security  -->
            <fieldset class="form-group"> <!-- This is a bootstrap stuff -->
                <legend class="border-bottom mb-4">Log in</legend> <!-- This is a legend for our registration form. mb-4 is a margin bottom of value 4 -->
                <div class="form-group"> <!-- Next form-group (like above but for email) -->
                    {{ form.email.label(class="form-control-label") }} <!-- This will print label for our email field. And we will give class here to print it (this is a bootstrap class to look it nicer) -->
                    {% if form.email.errors %} <!-- Meet this condition only when we will have errors -->
                        {{ form.email(class = "form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span>{{ error}}</span> <!-- Print out all of the errors that we have -->
                                {% endfor %}
                            </div>
                    {% else %}
                        {{ form.email(class = "form-control form-control-lg") }} <!-- This is for case when there is no errors -->
                    {% endif %}

                </div>
                <div class="form-group"> <!-- Next form-group (like above but for password) -->
                    {{ form.password.label(class="form-control-label") }} <!-- This will print label for our password field. And we will give class here to print it (this is a bootstrap class to look it nicer) -->
                    {% if form.password.errors %} <!-- Meet this condition only when we will have errors -->
                        {{ form.password(class = "form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                    <span>{{ error}}</span> <!-- Print out all of the errors that we have -->
                                {% endfor %}
                            </div>
                    {% else %}
                        {{ form.password(class = "form-control form-control-lg") }} <!-- This is for case when there is no errors -->
                    {% endif %}
                </div>
                <!-- This div will be for 'remember me' field -->
                <div class="form-check"> <!-- This div will use bootstrap check class because this will be check-box -->
                    {{ form.remember(class="form-check-input") }}
                    {{ form.remember.label(class="form-check-label") }}
                </div>

            </fieldset>
            <div class="form-group"> <!-- Create another one div field for 'submit' button -->
                {{ form.submit(class= "btn btn-outline-info") }} <!-- Put submit button (btn) class and bootstrap class btn-outline-info that have nice blueish color -->
            </div>

            <!-- This div will be for 'forgot password' field -->
            <small class="text-muted ml-2"> <!-- For small text -->
                <a href="#">Forgot Password?</a> <!-- At the moment we dont have url for this "Forgot Password?" link so we will do dummy link ("#") -->
            </small>
        </form>
    </div>
    
    <!-- On registration page usually there is question "Do you have account?" or "If you dont have account then 'Sign In' " Put div that will be for this purpose  -->
    <div class="border-top pt-3"> <!-- pt-3 -> padding of top of 3 -->
        <small class="text-muted"> <!-- For small text -->
            Need An Account? <a class="ml-2" href="{{ url_for('register') }}">Sign Up Now</a>          <!-- Put link to login page with anchor tag -->
        </small>
    </div>
{% endblock content %}

