{% extends "layout.html" %} <!-- Use layout.html template -->
<!-- Code below will be used to overwrite 'content' block in home.html or in about.html file -->
{% block content %}
    {% for post in posts %}  <!-- This is begining of code block for displaying posts in for loop-->
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}  <!-- This is end of code block-->
{% endblock content %}